.el-menu {
  height: calc(100% - 50px);
  border: none;
}
// 重写收缩起来的样式start====
.el-menu--collapse {
  .el-submenu {
    & > .el-submenu__title {
      & > span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }
  }
}
.el-menu--collapse {
  .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }
}
// end=====
